/* body spacing */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body > main {
  flex: 1;
}




.carousel {
  position: relative;
}
  
.carousel-inner {
  max-width: 900px; /* increase width if needed */
  height: 700px; /* or whatever height you prefer */

  overflow: hidden; /* ensures images don't overflow */
}
.car-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}
.carouselExampleIndicators {
  position: absolute;
  bottom: 10px; /* Adjust this to your liking */
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}



.body {
  background-color: #F7C924;
  margin-top: 3.5rem;
  position: relative;
}

.dropdown:hover>.dropdown-menu {
  display: block;
  background-color:  #A51629 !important;
  border-left: 4px solid black;
  border-right: 3px solid black;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.menu_titles {
  color: #A51629 !important;
}

.btn {
  border-color: #A51629 !important;
}

.dropdown>.dropdown-toggle:active {
  pointer-events: none;
  background-color:  #A51629 !important;
}

.dropdown-toggle, .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .dropdown-item {
  background-color:  #A51629 !important;
}

.reviews-card {
  padding: 2rem;
  max-width: 900px;
  height: 600px;
  text-decoration: none; 
  color: #A51629; 
  font-size: 1.5em; 
  border: 5px solid #296407; 
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;  /* vertically center */
  align-items: center;      /* horizontally center */
  text-align: center;
  padding: 1rem;
}

.reviews h2 {
  padding-bottom: 1rem;
}

.about {
  padding: 0 0 0 3rem;
}

.dropdown {
  font-size: 2rem;
}

.dropdown-item {
  font-size: 1.25rem !important;
}

.check-out-menu {
  min-width: 300px;
  width: 400px; 
  margin-top: 2rem;
  font-size: 1.5rem !important;
}

.review-txt {
  text-decoration: underline;
  font-size: 1.5rem;
  text-align: left;
  color:#A51629;
}

.main {
  border-bottom: 3px solid #296407;
}

/* About page */
.abt-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  font-size: 1.3rem;
  color: #A51629;
  padding-bottom: 1.5rem;
}

.about-top {
  display: flex;
  margin-bottom: 3rem;
}

.about-bottom {
  display: flex;
}

.mrpepper {
  width: 12%;
  min-width: 200px;
  max-height: 300px;
}

.artwork {
  width: 30%;
  min-width: 350px;
}

.desc {
  width: 75%;
  margin-top: 1rem;
  margin-left: 3rem;
}

/* Menu */
.nav-menu:hover{
  opacity: 0.8;
}

.top-item {
  margin-top: -3rem;
}

.navbar-toggler {
  margin: 10px 0 10px 20px;
}

.nav-menu {
  margin: 1rem 1rem 0.5rem 1rem;
  color:#A51629 !important;
}

.review-txt:hover{
  opacity: 0.75;
}

.check-out-menu:hover{
  opacity: 0.85;
}

/* For price buttons on cards without images */
.card-body{
  position: relative;
}

.price {
  margin-top: 4.5rem;
}

.food-section {
  margin-bottom: -4rem;
}

/* Contact page */
.contact-wrapper {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  width: 70%;
  margin-bottom: 6.05rem;
  font-weight: bold;
}

.contact-left {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-section {
  border: 4px solid #296407;
  border-radius: 10px;
  margin-bottom: 2rem;
  padding: 10px 10px 10px 10px;
}

.contact-section p {
  font-weight: bold;
  font-size: 1.4rem;
  padding-top: 10px;
}

.contact-section p, .contact-section h2 {
  margin-left: 10px;
}

/* Adding underline to section titles in contact (WIP)
.sec-title {
  text-decoration: underline;
}
*/

.media-p {
  line-height: 2.5rem;
}

.contact-section a {
  text-decoration: underline;
  color:#A51629;
}

.contact-section a:hover {
  opacity: 0.75;
}

.sec-title, .contact-section p {
  color:#A51629;
}

.footer-contact {
  position: absolute;
  bottom: -11.05rem !important;
}

/* Bonus Points Club */
.bonus-wrapper {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  width: 72.5%;
  margin-top: -1rem;
}

.bonus-left {
  width: 55%;
  border: 4px solid #296407;
  border-radius: 10px;
}

.bonus-right {
  border: 5px solid #296407;
  border-radius: 10px;
}

.poster {
  height: 575px;
  border-radius: 6px;
}

.bonus-left p {
  color:#A51629;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 25px 20px 0px 20px;
}

.footer-bonus {
  bottom: -9.5rem !important;
}

/* FOOTER */
.footer {
  position: absolute;
  width: 100%;
  height: 6rem;
  background-color: #A51629 !important;
  bottom: -8rem;
  border-top: 3px solid black; 
}

@media (max-width: 2000px) {
  .footer {
    position: absolute;
    width: 100%;
    height: 7rem;
    background-color: #A51629 !important;
    bottom: -12rem;
    border-top: 3px solid black;
  }
}

@media (max-width: 1400px) {
  .footer {
    position: absolute;
    width: 100%;
    height: 8rem;
    background-color: #A51629 !important;
    bottom: -13rem;
    border-top: 3px solid black;
  }
}

@media (max-width: 800px) {
  .footer {
    position: absolute;
    width: 100%;
    height: 9rem;
    background-color: #A51629 !important;
    bottom: -12rem;
    border-top: 3px solid black;
  }

  .footer-left, .footer-right, .footer-center {
    width: 50% !important;
    padding: none !important;
  }

  .footer-center {
    display: none !important;
  }
}

@media (max-width: 500px) {
  .footer {
    position: absolute;
    width: 100%;
    height: 9rem;
    background-color: #A51629 !important;
    bottom: -15rem;
    border-top: 3px solid black;
  }

  .footer-left, .footer-right, .footer-center {
    width: 50% !important;
    padding: none !important;
  }

  .footer-center {
    display: none !important;
  }
}

.footer-wrapper {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.footer-left {
  width: 20%;
  color: #F7C924;
  font-weight: bold;
  padding: 10px 5px 5px 5px;
}

.footer-left p {
  color: #F7C924;
  font-size: 0.8rem;
  line-height: 20px;
  margin-top: 0px;
}

.footer-center {
  width: 20%;
  color: #F7C924;
  font-weight: bold;
  text-align: center;
  position: relative;
  padding-top: 12px;
}

.footer-center p {
  color: white;
  position: absolute;
  bottom: -10px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.footer-right {
  width: 20%;
  color: #F7C924;
  font-weight: bold;
  padding: 15px 5px 5px 5px;
}

.footer-right p {
  color: #F7C924;
  font-size: 1rem;
}

.footer-dec {
  color: white !important;
  text-decoration: underline;
}

.footer-dec a {
  color: white !important;
  text-decoration: underline;
}

.footer-dec a:hover {
  opacity: 0.85;
}

.fa {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 40px;
  font-size: 20px !important;
  text-align: center;
  text-decoration: none;
  margin: 10px 5px 0px 5px;
}

.fa:hover {
  opacity: 0.85;
}

/* Facebook */
.fa-facebook {
  background: white;
  color: #3B5998;
  border-radius: 20px;
}

/* Instagram */
.fa-instagram {
  background: white;
  color: purple;
  border-radius: 20px;
}

.footer-menu {
  bottom: -4rem !important;
}

/* Responsive Nav */
.nav-item {
  font-size: 2rem;
  padding: 0 3rem 0 3rem;
}

@media (max-width: 768px) {
  .col-about {
    padding: 0 0 0 10px !important;
    font-size: 1.5rem;
  }

  .col-home {
    padding: 0 0 0 10px !important;
    font-size: 1.5rem;
  }

  .col-contact {
    padding: 0 0 0 10px !important;
    font-size: 1.5rem;
  }

  .col-menu {
    padding: 0 0 0 10px !important;
    font-size: 1.5rem;
  }

  .dropdown-menu {
    width: fit-content;
  }
}